@font-face {
    font-family: "Poiret One";
    src: url("../fonts/PoiretOne-Regular.woff2") format("woff2"),
        url("../fonts/PoiretOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ysabeau";
    src: url("../fonts/Ysabeau-Regular.woff2") format("woff2"),
        url("../fonts/Ysabeau-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
