*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 30vh;
}

body {
    background-color: $color-white;
    color: $color-black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    font-family: $ff-ysabeau;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    color: $color-black;
    text-decoration: none;
}

h1 {
    font-family: $ff-poiret-one;
}
