// Colors

$color-white: #ffffff;
$color-black: #000000;

$color-brown: #a52a2a;
$color-solitude: #e9eef6;
$color-snow: #f9f9f9;
$color-light-grey: #c7c7c7;
$color-sugar-cane: #ececeb;
$color-lochmara: #2b5da6;
$color-night-rider: #333333;
$color-black-pearl: #020508;
$color-gainsboro: #d9d9d9;
$color-grey-chateau: #9ca3a9;

$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-10: rgba(255, 255, 255, 0.1);

$color-black-50: rgba(0, 0, 0, 0.4);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-black-20: rgba(0, 0, 0, 0.2);

$color-night-rider-90: rgba(60, 39, 39, 0.9);

$color-black-pearl-15: rgba(2, 5, 8, 0.15);

// Spacing

$spacing-xxs: 4px;

// Typography

$ff-ysabeau: "Ysabeau", "Arial", sans-serif;
$ff-poiret-one: "Poiret One", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
