.about {
    padding: 112px 0;
    overflow: hidden;
    background-color: $color-solitude;
    position: relative;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__img-box {
        margin: 0 0 80px 0;
    }

    &__title {
        font-family: $ff-ysabeau;
        margin: 0 0 16px 0;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 12px;
        text-transform: uppercase;
    }

    &__subtitle {
        white-space: pre-line;
        font-family: $ff-poiret-one;
        font-weight: 600;

        font-size: 32px;

        line-height: 150%;
        letter-spacing: 8px;

        margin: 0 0 50px 0;
    }

    &__description {
        font-size: 18px;
        margin: 0 0 0 0;
        line-height: 150%;
    }

    &__right {
        position: relative;
    }

    &__pattern-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;

        .pattern:nth-child(1) {
            position: absolute;
            top: -110px;
            left: -30px;
        }

        .pattern:nth-child(2) {
            position: absolute;
            top: 267px;
            left: -30px;
        }
    }

    &__img-box {
        position: relative;
        z-index: 2;
    }
}
