.about {
    padding: 112px 0 0 0;
    overflow: hidden;
    background-color: $color-solitude;
    position: relative;

    @include vp-1023 {
        padding: 80px 0 0 0;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;

        @include vp-1023 {
            grid-template-columns: 1fr;
            gap: 80px;
        }

        @include vp-767 {
            gap: 48px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;

        margin: 0 0 80px 0;

        @include vp-767 {
        }
    }

    &__img-box {
        margin: 0 0 80px 0;

        @include vp-767 {
            margin: 0 0 48px 0;
            display: flex;
            justify-content: center;
        }
    }

    &__title {
        font-family: $ff-ysabeau;
        margin: 0 0 16px 0;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 12px;
        text-transform: uppercase;
        color: $color-shades-of-brown;

        @include vp-1023 {
            font-size: 16px;
            letter-spacing: 8px;
            margin: 0 0 12px 0;
            display: flex;
        }
    }

    &__subtitle {
        white-space: pre-line;
        font-family: $ff-poiret-one;
        font-weight: 600;

        font-size: 32px;

        line-height: 150%;
        letter-spacing: 8px;

        margin: 0 0 50px 0;

        @include vp-1023 {
            font-size: 28px;
            margin: 0 0 24px 0;
        }

        @include vp-767 {
            margin: 0 0 20px 0;
        }
    }

    &__description {
        font-size: 18px;
        margin: 0 0 0 0;
        line-height: 150%;
    }

    &__right {
        position: relative;

        @include vp-1023 {
            display: flex;
            justify-content: center;
        }
    }

    &__pattern-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;

        .pattern:nth-child(1) {
            position: absolute;
            top: -110px;
            left: -30px;
        }

        .pattern:nth-child(2) {
            position: absolute;
            top: 267px;
            left: -30px;
        }

        .pattern:nth-child(3) {
            position: absolute;
            top: 645px;
            left: -30px;
        }

        @include vp-1023 {
            display: none;
        }
    }

    &__img-box {
        position: relative;
        z-index: 2;
    }
}
