.contacts {
    padding: 112px 0 55px 0;

    @include vp-1023 {
        padding: 80px 0;
    }

    &__left-col {
        max-width: 700px;
        width: 100%;
    }

    &__right-col {
        display: flex;
    }

    &__content {
        display: flex;
        gap: 80px;
        align-items: center;

        @include vp-767 {
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
        }
    }

    &__title {
        font-family: $ff-ysabeau;

        font-size: 18px;
        color: $color-lochmara;
        line-height: 150%;
        letter-spacing: 100%;
        text-transform: uppercase;
        margin: 0 0 16px 0;
    }

    &__subtitle {
        font-family: $ff-poiret-one;
        font-size: 48px;
        margin: 0 0 24px 0;
        color: $color-black-pearl;

        @include vp-767 {
            font-size: 36px;
        }
    }

    &__text {
        font-size: 16px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 288px;

        @include vp-767 {
            min-width: auto;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin: 0 0 24px 0;

        @include vp-767 {
            margin: 0 0 16px 0;
            gap: 6px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: $color-lochmara;
        margin: 0 0 8px 0;
    }

    &__time {
        font-family: $ff-poiret-one;

        font-size: 18px;

        line-height: 150%;
        letter-spacing: 100%;
    }

    &__info {
        font-family: $ff-poiret-one;

        font-size: 18px;

        line-height: 150%;
        letter-spacing: 100%;

        color: $color-black-pearl;
        text-decoration: none;
        font-style: normal;
    }
}
