.dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    z-index: 100;

    &__dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: $color-white-20;
        border: none;
        cursor: pointer;
        outline: none;

        &--active {
            background: $color-white-10;
        }
    }

    @media (max-width: 768px) {
        bottom: 30px;
        gap: 12px;

        &__dot {
            width: 12px;
            height: 12px;
        }
    }

    @media (max-width: 480px) {
        bottom: 24px;
    }
}
