.footer {
    color: $color-white;
    padding: 58px 0;
    margin-top: auto;

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-black-pearl-15;
        padding: 0 0 58px 0;

        @include vp-767 {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 32px;

        @include vp-767 {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }

    &__socials-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 12px;
    }

    &__socials-item {
        width: 24px;
        height: 24px;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a svg,
    svg {
        fill: $color-gainsboro;
        color: $color-gainsboro;
    }

    &__bottom-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 24px;

        @include vp-767 {
            flex-direction: column-reverse;
            gap: 16px;
        }
    }

    &__copyright {
        margin: 0;
        font-size: 14px;
        color: $color-black-pearl;
    }

    &__links {
        display: flex;
        gap: 24px;

        @include vp-767 {
            flex-direction: column;
            gap: 16px;
            align-items: center;
        }
    }

    &__link {
        font-size: 14px;
        color: $color-black-pearl;
        text-decoration: none;
        position: relative;
        width: fit-content;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: $color-black-pearl;
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            transition: clip-path 0.3s;
        }

        &:hover::after {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        @include vp-767 {
            &::after {
                display: none;
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 1px;
                background: $color-black-pearl;
            }
        }
    }
}
