.header {
    $root: &;
    height: 90px;
    padding: 18px 0;

    @include vp-767 {
        height: 64px;
        padding: 16px 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 54px;
        padding: 5.5px 0;
    }

    @include vp-767 {
        &__content {
            height: 32px;
            padding: 0;
        }
    }

    &__burger-menu {
        display: none;
        background: transparent;
        cursor: pointer;
        padding: 6px;

        @include vp-767 {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
        }

        &--open {
            .header__burger-line {
                background-color: transparent;
                transition: background-color 0.1s ease;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 0.3s ease, transform 0.3s ease 0.3s;
                }

                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 0.3s ease, transform 0.3s ease 0.3s;
                }
            }
        }
    }

    &__burger-line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: $color-black-pearl;
        position: relative;
        transition: background-color 0.1s ease 0.3s;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 24px;
            height: 2px;
            background-color: $color-black-pearl;
            transition: top 0.3s ease 0.3s, bottom 0.3s ease 0.3s,
                transform 0.3s ease;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }
    }

    &__nav {
        @include vp-767 {
            position: absolute;
            top: 130%;
            left: 0;
            width: 100%;
            background-color: $color-white;
            padding: 20px 0;
            display: none;
            z-index: 100;
            border-radius: 7px;

            &--open {
                display: block;
            }
        }
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 32px;

        margin: 0;
        padding: 0;

        list-style: none;

        @include vp-767 {
            flex-direction: column;
            gap: 16px;
            display: flex;
        }
    }

    &__logo {
        position: absolute;
        left: calc(50% - 75px);
        top: 16px;

        @include vp-1023 {
            top: 108px;
            left: calc(50% - 46px);
        }

        @include vp-767 {
            display: none;
        }
    }

    &__logo-img {
        @include vp-1023 {
            width: 92px;
            height: 92px;
        }
    }

    &__btn {
        width: fit-content;

        background-color: $color-brown;
        color: $color-white;
    }
}
