.hero {
    position: relative;
    min-height: calc(100vh - 90px);
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 224px;
    }

    &__img-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-black-50;
            opacity: 0.8;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__logo {
        margin: 0 0 40px 0;
    }

    &__title {
        font-size: 32px;
        line-height: 38.4px;
        letter-spacing: -0.32px;
        text-align: center;
        color: $color-white;
        width: 400px;
        margin: 0 0 24px 0;
    }

    &__text {
        margin: 0 0 32px 0;
        color: $color-white;
    }

    &__btn-accent {
        background-color: $color-white-10;
        border: 1px solid $color-white-50;
        color: $color-white;
    }
}
