.kitchen-mobile {
    display: none;

    @include vp-767 {
        display: block;
        padding: 64px 0;
    }

    .kitchen-swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        touch-action: pan-y;
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    &__card {
        width: 100%;
        min-height: 620px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: $ff-ysabeau;
        font-size: 18px;
        color: $color-lochmara;
        text-transform: lowercase;
        margin: 0 0 12px 0;
    }

    &__subtitle {
        font-family: $ff-poiret-one;
        font-weight: 400;
        margin: 0 0 20px 0;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0.32px;
    }

    &__description {
        font-size: 16px;
        line-height: 150%;
        margin: 0 0 40px 0;
        font-weight: 400;
    }

    &__img-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        min-height: 335px;

        .kitchen-mobile__svg {
            @include vp-767 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 335px;
                height: 335px;
                max-width: 100%;
                max-height: 100%;
                z-index: -1;
                object-fit: cover;
            }
        }
    }

    &__img {
        position: relative;
        z-index: 1;
    }

    .swiper-pagination {
        margin-top: 24px;
        position: relative;
    }
}
