.menu {
    position: relative;
    padding: 112px 0;

    @include vp-1023 {
        padding: 80px 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-night-rider-90;
        z-index: -1;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;

        @include vp-767 {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }

    &__background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__title {
        font-family: $ff-ysabeau;
        font-size: 18px;

        color: $color-white;
        line-height: 150%;
        letter-spacing: 100%;
        text-transform: uppercase;

        margin: 0 0 16px 0;
    }

    &__subtitle {
        font-family: $ff-poiret-one;
        color: $color-white;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -1px;
        width: 320px;
        margin: 0;

        @include vp-1023 {
            width: 100%;
            font-size: 36px;
        }

        @include vp-767 {
            font-size: 28px;
        }
    }

    &__text {
        color: $color-white;
        margin: 0 0 32px 0;
        line-height: 150%;
    }

    &__btn-inner {
        display: flex;
        gap: 24px;

        @include vp-1023 {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__btn {
        background-color: transparent;
        border: 1px solid $color-white-20;

        display: flex;
        align-items: center;
        gap: 12px;

        color: $color-white;

        @include vp-1023 {
            width: fit-content;
        }
    }
}
