.splide {
    overflow: visible !important;

    &__track {
        overflow: visible !important;
    }

    &__list {
        overflow: visible !important;
        gap: 10px;
    }

    &__slide {
        overflow: visible !important;
        flex: 0 0 405px !important;
        max-width: 405px !important;
        width: 405px !important;

        @media (max-width: 767px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 100% !important;
        }
    }

    &__pagination {
        bottom: -50px;

        &__page {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $color-white-30;
            margin: 0 8px;

            &.is-active {
                background: $color-white;
            }
        }
    }

    &__arrow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color-white-90;
        border: none;

        &:hover {
            background: $color-white;
        }

        &--prev {
            left: -20px;
        }

        &--next {
            right: -20px;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: $color-night-rider;
        }
    }
}
